parameters:
	ignoreErrors:
		-
			message: '#^Cannot call method isGreaterThan\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/UniqueCrockfordPool.php

		-
			message: '#^Cannot call method isGreaterThanOrEqualTo\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/UniqueCrockfordPool.php

		-
			message: '#^Cannot call method plus\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/UniqueCrockfordPool.php

		-
			message: '#^Cannot call method power\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 3
			path: src/UniqueCrockfordPool.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/UniqueCrockfordPool.php

		-
			message: '#^Method CheckThisCloud\\CrockfordRandom\\UniqueCrockfordPool\:\:isExhausted\(\) should return bool but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/UniqueCrockfordPool.php
